In [1]:
# Part 1: Load a Dataset & Check Missing Values

# Task 1: Titanic Dataset
# - Load the dataset using Pandas.
# - Check for missing values in the 'Age' column.







# Part 2: Identify Duplicates & Inconsistencies

# Task 2: Duplicate Rows in Titanic Dataset
# - Identify any duplicate rows in the dataset.










# Part 3: Generate a Data Quality Report

# Task 3: Titanic Dataset Overview
# - Create a simple report of missing values, duplicates, and some basic statistics for the Titanic dataset.



import pandas as pd

# Part 1: Load the Titanic Dataset & Check Missing Values
# You can load Titanic dataset from seaborn or from URL (replace with your local path if needed)

# Load dataset (using seaborn for convenience)
import seaborn as sns
titanic = sns.load_dataset('titanic')

# Check for missing values in 'Age' column
missing_age_count = titanic['age'].isnull().sum()
print(f"Missing values in 'Age' column: {missing_age_count}")

# Part 2: Identify Duplicates & Inconsistencies

# Identify duplicate rows
duplicate_rows = titanic[titanic.duplicated()]
print(f"\nNumber of duplicate rows: {duplicate_rows.shape[0]}")

# Optional: Display duplicate rows if any
if not duplicate_rows.empty:
    print("\nDuplicate rows:")
    print(duplicate_rows)

# Part 3: Generate a Data Quality Report

print("\n--- Data Quality Report ---")

# Missing values per column
missing_per_column = titanic.isnull().sum()
print("\nMissing values per column:")
print(missing_per_column[missing_per_column > 0])

# Number of duplicate rows
print(f"\nTotal duplicate rows: {duplicate_rows.shape[0]}")

# Basic statistics for numerical columns
print("\nBasic statistics for numerical columns:")
print(titanic.describe())

# Basic statistics for categorical columns
print("\nBasic statistics for categorical columns:")
print(titanic.describe(include='object'))

Missing values in 'Age' column: 177

Number of duplicate rows: 107

Duplicate rows:
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
47          1       3  female   NaN      0      0   7.7500        Q   Third
76          0       3    male   NaN      0      0   7.8958        S   Third
77          0       3    male   NaN      0      0   8.0500        S   Third
87          0       3    male   NaN      0      0   8.0500        S   Third
95          0       3    male   NaN      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
870         0       3    male  26.0      0      0   7.8958        S   Third
877         0       3    male  19.0      0      0   7.8958        S   Third
878         0       3    male   NaN      0      0   7.8958        S   Third
884         0       3    male  25.0      0      0   7.0500        S   Third
886         0       2    male  27.0      0      0  13.0000        S  Second

       who  adult_male deck  embark_town alive  alone
47   woman       False  NaN   Queenstown   yes   True
76     man        True  NaN  Southampton    no   True
77     man        True  NaN  Southampton    no   True
87     man        True  NaN  Southampton    no   True
95     man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
870    man        True  NaN  Southampton    no   True
877    man        True  NaN  Southampton    no   True
878    man        True  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True

[107 rows x 15 columns]

--- Data Quality Report ---

Missing values per column:
age            177
embarked         2
deck           688
embark_town      2
dtype: int64

Total duplicate rows: 107

Basic statistics for numerical columns:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Basic statistics for categorical columns:
         sex embarked  who  embark_town alive
count    891      889  891          889   891
unique     2        3    3            3     2
top     male        S  man  Southampton    no
freq     577      644  537          644   549